/*
    Основной файл стилей
*/


/*-----------------------------------------------------------------------------------------------------------------------------
    Предопределенные переменные
------------------------------------------------------------------------------------------------------------------------------*/
@charset "utf-8";


/* Ширина сайта */
@site-width: 920px;


/* Ширина сайдбара (левого меню) */ 
@sidebar-width: 130px;



/*-----------------------------------------------------------------------------------------------------------------------------
    Стили для html-тегов
------------------------------------------------------------------------------------------------------------------------------*/

body 
{
    background: #E9EBEE;
    font-family: Geneva, Arial, Helvetica, sans-serif;    
    
    /* margin определяет пространство за пределами (снаружи) элемента */    
    margin-top: 0px;        
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}


form 
{
    /*border: 1px solid #d0d1d5; */

    background-color: #F8F7F2;    

    margin-top: 20px;        
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 20px;    

    /* padding определяет пространство внутри элемента */
    padding-top: 5px;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;    
}

#form_insert_update, #form_delete
{
    display: none;
}


/*-----------------------------------------------------------------------------------------------------------------------------
    Стили для управления классами
------------------------------------------------------------------------------------------------------------------------------*/

.ParentHeader
{
    min-width: 100%;    
    color: white;    
    background-color: #3B5998;
    border: 0px solid #3B5998;
    
    position: fixed; /* Фиксированное положение */
    left: 0px; /* Расстояние от правого края окна браузера */
    top: 0px; /* Расстояние сверху */            
        
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: auto;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;    
    
    /* padding определяет пространство внутри элемента */
    padding-top: 10px;       
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;
}




.ChaildHeader
{
    width: 920px;    
    background-color: #3B5998;
    border: 0px solid #3B5998;
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: auto;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
    /* padding определяет пространство внутри элемента */
    padding-top: auto;    
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;
}


.MainClass h1
{
    font-size: 1.3em;
    color: #9f9f9f;
}

.MainClass h2
{
    font-size: 1em;
    color: #9f9f9f;
}


.MainClass
{
    width: 920px;
    color: black;    
    background-color: #E9EBEE;
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: 100px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
    /* padding определяет пространство внутри элемента */
    padding-top: auto;  
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;    
}


.HeaderClass
{
    color: white;        
    background-color: #3B5998;    
    border: 0px solid #3B5998;
    
    /* 
       Свойство overflow управляет отображением содержания блочного элемента, 
       если оно целиком не помещается и выходит за область заданных размеров.
       auto - Полосы прокрутки добавляются только при необходимости
    */
    overflow: auto;
    position: fixed; /* Фиксированное положение */
    
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: 170px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
    /* padding определяет пространство внутри элемента */
    padding-top: 10px;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}


.SideBarClass
{
    height: 80%;
    min-width: 180px;    
    max-width: 180px;
    background-color: #E9EBEE;    
    border: 1px solid #E9EBEE;

    overflow: auto;    
    float: left;
    position: fixed;  /* Фиксированное положение */
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: auto;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
    /* padding определяет пространство внутри элемента */
    padding-top: 10px;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
}



.SideBarClass a
{
    color: black;
    border: 1px solid #e9ebee;    
    text-decoration: none;
    display: block;

    
    /* padding определяет пространство внутри элемента */
    padding-top: 5px;  
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 5px;       
}



.SideBarClass a:hover
{
    color: black;
    background: #f6f7f9;
    border: 1px solid #dddfe2;    
}


.SideBarP
{
    font-family: monospace,Verdana, Arial, Helvetica, sans-serif; 
    font-size: 14pt; 
    font-stretch: ultra-expanded;
    font-variant: small-caps;
}


.ContentClass
{
    background-color: white;    
    border: 1px solid #d0d1d5;
    min-height: 990px;

    overflow: hidden;    

    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: auto;    
    margin-left: 210px;
    margin-right: auto;
    margin-bottom: auto;
    
    /* padding определяет пространство внутри элемента */
    padding-top: auto;  
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: auto; 
}


.FooterClass
{
    font-size: 9pt;
    color: grey;
    background-color: #E9EBEE;    
    border: 1px solid #d0d1d5;    
    /*overflow: auto; */   

    float: bottom;
    width: 420px;

    margin-top: 5px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
    padding-top: 5px;  
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

}

/*
.FooterClass p
{
    



    margin-top: 0px;    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
    padding-top: 0px;  
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;    
}
*/

.leftimg {
    float:left; /* Выравнивание по левому краю */
    /*margin: 7px 7px 7px 0; Отступы вокруг картинки */

    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: 0;    
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 0;     
}


.dbtable 
{
    margin-top: 20px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;    
}

.dbtable tr:hover 
{
    background-color: #97DBF8;
}

.code
{
    font-family: monospace;
    /* background-color: #F8F7F2; */

    background-color: #E9EBEE;

    padding-top: 10px;  
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;    
}

/*-----------------------------------------------------------------------------------------------------------------------------
    Стили для управления ID-шниками
------------------------------------------------------------------------------------------------------------------------------*/


#HeaderH1
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: 1px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    
    /* padding определяет пространство внутри элемента */
    padding-top: auto;  
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;           
}


#HeaderH2
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    /* margin определяет пространство за пределами (снаружи) элемента */
    margin-top: 1px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    
    /* padding определяет пространство внутри элемента */
    padding-top: auto;  
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;       
    
}


#ImgStructira
{
    position: static;
    width: 40em;
    transition: width 0.5s;
    box-shadow: 10px 10px 30px #111;
}



#ImgStructira:hover
{
    width: 60em;    

    position: fixed;
    /*
    left: auto;
    top: auto;
    width: auto;
    */
}  


/*-----------------------------------------------------------------------------------------------------------------------------
    Стили для JavaScript
------------------------------------------------------------------------------------------------------------------------------*/
table tr.marked {
    background-color: tomato;
}